*{
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

div{
  border: 1px solid gray;
}

p{
  margin: 10px;
}

a{
  margin: 10px;
}

body div {
  display: block;
  overflow: auto;
  margin: 10px 0px 10px 0px ;
}

header{
  min-height: 250px;
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
}

header img{
  margin: 5px;
  width: 20%;
  min-width: 265px;
  height: 250px;  
}

.title-box{
  margin: 5px;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-content:space-between;
}

.title-box div{
  margin: 6px;
  padding: 5px;
  padding-inline-end: 10%;
}